{% extends "master.html.twig" %}

{% block title %}Product list{% endblock %}

{% block content %}
    
    <form method="post" >
       <table>
        <th width = 50px>Id</th>
        <th width = 100px>Name</th>
        <th width = 200px>Description</th>
        <th width = 200px>Image</th>
        {% for p in products %}
          <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.description }}</td>
            <td><img src="/{{ p.imagePath }}" height='100' width='200'/></td>
            <td><a href="/admin/product/edit/{{p.id}}">edit</a>
            <td><a href="/admin/product/delete/{{p.id}}">delete</a>
          </tr>
        {% endfor %}
        </table>
    </form>    
        
{% endblock %}
