@import url(http://fonts.googleapis.com/css?family=Tenor+Sans);
html {
  background-color: #5D92BA;
  font-family: "Tenor Sans", sans-serif;
}

.container {
  width: 500px;
  height:500px;
  margin: 0 auto;
}

.login, .register, .add-product, .list-product, .edit-product, .delete-product
{
  margin-top: 50px;
  width: 450px;
}

.login-heading, .register-heading, .add-product-heading, .list-product-heading,
.edit-product-heading, .delete-product-heading
{
  font: 1.8em/48px "Tenor Sans", sans-serif;
  color: white;
}

.input-txt {
  width: 100%;
  padding: 20px 10px;
  background: #5D92BA;
  border: none;
  font-size: 1em;
  color: white;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
.input-txt:-moz-placeholder {
  color: #81aac9;
}
.input-txt:-ms-input-placeholder {
  color: #81aac9;
}
.input-txt::-webkit-input-placeholder {
  color: #81aac9;
}
.input-txt:focus {
  background-color: #4478a0;
}

.login-footer, .register-footer, .add-product-footer, .list-product-footer,
.edit-product-footer, .delete-product-footer
{
  margin: 10px 0;
  overflow: hidden;
  float: left;
  width: 100%;
}

.btn {
  margin-top:20px;
  padding: 15px 30px;
  border: none;
  background: white;
  color: #5D92BA;
}

.btn--right {
  float: right;
}

.btn--left {
  float: left;
}

.btn--no--underline {
    text-decoration: none;
    color: #5D92BA;
}
.icon {
  display: inline-block;
}

.icon--min {
  font-size: .9em;
}

.lnk {
  font-size: .8em;
  line-height: 3em;
  color: white;
  text-decoration: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse; 
    text-align: center;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

#footer {    
    text-align: center;
}

#header {
    margin-top: 20px;
}

#content {
    margin-top: 100px;
}

.error-message {
    margin-top: 20px;
    float:left;
}