{% extends "master.html.twig" %}

{% block title %}Login successful{% endblock %}

{% block content %}
    
<p>You've logged in succesfully.
    <a href="/add">Add Product</a>. or
    <a href="/list">List Product</a>.</p>
{% endblock content %}