{% extends "master.html.twig" %}

{% block title %}Logout successful{% endblock %}

{% block content %}

<p>You've logged out succesfully.
    <a href="/login">Click to login</a>.</p>

{% endblock content %}
