body {
    background-color: #ffffcc;
}
#centerContent {
    width: 500px;
    padding: 0;
    margin: 0 auto;
    background-color: white;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse; 
    text-align: center;
}