{# empty Twig template #}
{% extends "master.html.twig" %}

{% block title %}Delete birthday{% endblock %}

{% block content %}

    <p> Are you sure you want to delete this birthday?</p>
    <form style="display: inline-block" action="/admin/birthday/list">
        <input type="submit" value="Cancel"></form>
    <form style="display: inline-block" method="post">
        <input type="hidden" name="delete" value="confirmed">
        <input type="submit" value="Yes, delete"></form>
    <p>{{b.name}} : {{b.month}} {{b.day}}</p>
            
    
    
{% endblock content %}