{% extends "master.html.twig" %}

{% block title %}Birthday deletion successful{% endblock %}

{% block content %}

    Birthday deleted. <a href="/admin/birthday/list">Click to continue</a>
    
{% endblock %}
