{% extends "master.html.twig" %}

{% block title %}Birthdays list{% endblock %}

{% block content %}

    <a href="/admin/birthday/add">Add a birthday</a>
    <table border="1">
        <tr><th>id</th><th>name</th><th>month</th><th>day</th><th>operations</th></tr>
        {% for b in birthdayList %}
            <tr><td>{{loop.index}}</td>
                <td>{{b.name}}</td>
                <td>{{b.month}}</td>
                <td>{{b.day}}</td>                
                <td><a href="/admin/birthday/edit/{{b.id}}">edit</a>
                    <a href="/admin/birthday/delete/{{b.id}}">delete</a>
                </td></tr>
        {% endfor %}
    </table>
    
    
{% endblock content %}
