{% extends "master.html.twig" %}

{% block title %}Birthday add{% endblock %}

{% block content %}
    
    {% if errorList %}
    <ul class="errorList">
        {% for error in errorList %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <form method="post" enctype="multipart/form-data">
        Name: <input type="text" name="name" value="{{v.name}}" ><br>
        Month: <input type="text" name="month" value="{{v.month}}"><br>
        Day: <input type="text" name="day" value="{{v.day}}"><br>
        <input type="submit" value="{{operation}} birthday">
    </form>    
{% endblock %}
