{% extends "master.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}

{% if error %}
    <p class="errorList">Login failed try again.</p>
{% endif %}

<form method="post">
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="pass"><br>
    <input type="submit" value="Login">
</form>

{% endblock content %}
